<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sk.lat.act_draw_explain">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="DEBUG ADE"
        android:icon="@mipmap/launcher_icon"
        tools:replace="android:label">
    </application>
</manifest>
